services:
  no-code-app:
    image: scygu/no-code-app:v.0.2
    container_name: no-code-test
    restart: always
    ports:
      - "3838:3838"
    volumes:
      - datasets:/usr/no-code-app/datasets
      - log_files:/usr/no-code-app/.log_files
      - models:/usr/no-code-app/models
      - recipes:/usr/no-code-app/recipes
      - outputs:/usr/no-code-app/outputs
      - logs:/usr/no-code-app/logs

volumes:
  datasets:
  log_files:
  models:
  recipes:
  output:
  logs:

